body{
      
        background-image: url("../img/bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;;   
        padding: 30px;
        width: 100%;

    }

    .container {
        padding-top: 15px;
        width: 500px;
        padding-bottom: 30px;
        background-color: #343A40;     
        border-radius: 8px;     

    }  

    .cx {
     
        padding-top: 10px;
    }

    .input-group{
    	box-shadow: 0px 8px 13px -9px black;
    	padding-bottom: 1rem;
    }
    .list-group{
    	box-shadow: 0px 8px 13px -9px black;
    }
  
     .list-group-item {
        width: 300px;

     }    

    .list-group-item .btn{       
    	opacity: .4;
    	transition: opacity .5s;
    	font-size: .8rem;
    }
    .list-group-item:hover .btn{
    	opacity: 1;
    }

    .list-group-item.done{
    	background-color: #dadada;
    }
    .list-group-item.done span{
    	text-decoration: line-through;
    }
