:root {
    --primary-color: #F4CE01;
    --secondary-color: #0F0F0B;
    --water-color: #17A2B8;
    --grey-color: #343A40;
    --crimson-color:#dc143c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--grey-color);
    background-image: url('../img/bg.jpg');
    background-size: cover;
    font: bold 2rem 'Nunito Sans', sans-serif;
}

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.todo__title {
    display: flex;
    background-color: var(--grey-color);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--grey-color);
    font-size: 3rem;
    color: var(--water-color);
}

.todo__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.todo__item {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--grey-color);
    color: var(--water-color);
    box-shadow: 1px 1px 5px var(--secondary-color);
}

.todo__item>div {
    width: 80%;
}

.todo__item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--grey-color);
    color: var(--water-color);
}

.todo__item>input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todo__item>input[type='button'],
.todo__item>input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;
}

.todo__item>input[type='checkbox']:checked+div {
    text-decoration: line-through;
}

.todo__item.add {
  animation: add 1s ease 0s 1 normal forwards;
}
@keyframes add {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}
.todo__item.remove {
    animation: exitRemove 1s ease 0s 1 normal forwards;
}
@keyframes exitRemove {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    5% {
      animation-timing-function: ease-in;
      transform: translateX(30px);
    }
  
    15% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    25% {
      animation-timing-function: ease-in;
      transform: translateX(38px);
    }
  
    38% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    52% {
      animation-timing-function: ease-in;
      transform: translateX(80px);
    }
  
    65% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    85% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      transform: translateX(250px);
    }
  }
.todo__new-item {
    display: flex;
    background-color: #fff59d;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--secondary-color);
    margin: 10px;
    font: inherit;
}

.todo__new-item>input {
    background-color: #fff59d;
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.todo__new-item>input::placeholder {
    font-style: italic;
    font-weight: normal;
}

input[type=button] {
    background: none;
    border: none;
    color: var(--crimson-color);
    cursor: pointer;
}

.close {
  background-color: #17A2B8;
  padding: 10px;
  color: white;
  cursor: pointer;
}